@import './vars';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($accent2, 0.2);
}

.catalogue {
    width: 80%;
    height: 40%;
    display: flex;
}

.title {
    color: $accent1;
    text-transform: uppercase;
    margin-bottom: 2%;
}
